:root {
    --very-dark-blue: #1B2631;
    --grayish-cyan: #3F4E4F;
    --Grayish-blue: #A5C8D6;
    --white: #F0F4F8;
    --light-grayish-cyan: #D9E4E0;
}

body{
   background-color: var(--very-dark-blue);
   color: var(--Grayish-blue);
}

.container {
    width: 720px;
    margin: auto;
}

.Navbar {
    display: flex;
    gap: 33%;
    list-style: none;
}

.Navbaritem{
 
}

#Navbar {
    margin-bottom: 200px;
    margin-top: 100px;
    font-size: x-large;
}

.section1{
    /* border:solid; */
    border-radius:5px;
    padding: 10%;
}
.section1 p{
    font-size: large;
}
