









/* .projectBox_top{
            background-color: orangered; 
            width: 300px; 
            height: 200px;
            border-radius: 50px; 
        }
        ul {
            list-style-type: none;
            float: right;
            margin: 0;
            padding: 0;
            width: auto;
            background-color: navy;
        }

        nav {
            display: flex;
            justify-content: right;
            background-color: navy;
        }

        .navbar1 {
            display: inline-block;
        }

        .navbar1>a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 36px;
            text-decoration: none;
            font-size: large;
        }

        .navbar1>a:hover {
            background-color: goldenrod;
        }

        #Myname {
            text-align: center;
            margin-top: 100px;
            margin-left: 100px;
            font-size: x-large;
            float: left;
            width: 250px;
            border: black solid;

        }

        .grid-container {
            display: grid;
        }

        #colmn1 {
            grid-column-start: 1;
            grid-column-end: 3;
            gap: 50px;
            background-color: yellow;
        }

        #colmn2 {
            grid-column-start: 3;
            grid-column-end: 7;
            gap: 50px;
            background-color: rgb(0, 26, 255);
        }

        #colmn3 {
            grid-column-start: 7;
            grid-column-end: 8;
            gap: 50px;
            background-color: rgb(0, 255, 42);
        }
        .flex-container{
            display: flex;
            gap:10px
        }
        .Footer{

        }
        .background{
        } */
